* {
    background-color: #E4E1F3;
    margin: 0px;
    font-family: "Courrier New", monospace;
}

.fullwidth {
    width: 100%;
}

a:link {
    color: #5449A7;
    text-decoration: none; 
}

a:hover {
    color: white;
}

.title {
    margin:15px;
    color: #5449A7;
    text-align: center;
}

.title2 {
    margin:15px;
    color:  #9588F1;
    text-align: center;
}

.header {
    margin: 0px;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #CAC4F5; 
    color: #5449A7;
    border: 4px solid white;
    font-family: "Courrier New", monospace;
}

.body {
    color: #5449A7;
    text-align: center;
}

.button {
    background-color: #CAC4F5; 
    color: #5449A7;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    border: 4px solid white;
}

.footer {
    background-color: #CAC4F5;
    font-family: "Courrier New", monospace;
    color: #5449A7;
    height: 36px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.rightmargin {
    margin-right: 25px;
}

table {
    color: #5449A7;
    text-align: center;
    width: 92%;
}

th {
    color: #5449A7;
    text-align: center;
}

td {
    color: #5449A7;
    text-align: center; 
}

ul {
    list-style-type: none;
}