<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>
<div class="fullwidth"><h1 class="header">Whatpad -- Our Stories will Make you Say "What?"</h1></div> <br/>


<center><a href="/" class = "button">Return home</a></center><br/><br/>

<h1 class="title"> Create A New Story </h1>
<body class = body>
<p>Add a title and text to begin your story (Be aware you can only add to a story once!)</p> <br/>
<form action="/createNew" method="POST">
    <h3>{{message}}</h3>
    <label>Title:</label>
    <input type="text" name="title"><br/><br/>
    <label>Story:</label><br/>
    <textarea name="storybody" rows="20" cols="50"></textarea><br/><br/>
    <input type="submit" name="sub">
</form>
</body>
<div class="footer verticalcenter fullwidth">
    <p class="rightmargin">Copyright © 2022 Whatever: Elizabeth, Maya, Anthony</p>
</div>
</html>