<!DOCTYPE html>

<h1>Welcome to Whatpad, {{username}}!</h1>
<a href="/logout">Logout</a><br/><br/>

<a href="/createNew"> Create New Story </a>

<h2>Your Stories:</h2>
<p>View the full text of stories you have edited!</p>
<ul>
    {% for view in viewable %}
        <li><a href={{view | replace(" ", "%20") }}>{{view}}</a></li>
    {% endfor %}
</ul>

<h2>Explore:</h2>
<p>Add your own twist to a story! Add a new part given the most recent contribution!</p>
<ul>
    {% for edit in editable %}
        <li><a href={{edit | replace(" ", "%20") }}>{{edit}}</a></li>
    {% endfor %}
</ul>

</html>