<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>

    <div class="fullwidth"><h1 class="header">Whatpad -- Our Stories will Make you Say "What?"</h1></div> <br/>
    <center><a href="/logout" class = "button">Logout</a><br/></center>
    <h1 class="title">Welcome to Whatpad, {{username}}!</h1>

    <table>
        <tr>
            <th> <h2>Your Stories:</h2> </th> 
            <th><h2>Explore:</h2> </th>
        </tr>
        <tr> <td>
<p>View the full text of stories you have edited!</p>
<ul>
    {% for view in viewable %}
        <li><a href={{view}}>{{view | replace ("%20", " ") }}</a></li>
    {% endfor %}
</ul>
</td>
<td>
<p>Add your own twist to a story!</p>
<ul>
    {% for edit in editable %}
        <li><a href={{edit}}>{{edit | replace ("%20", " ") }}</a></li>
    {% endfor %}
</ul>
</td></tr>
</table>
<br/> <br/>
<center><a href="/createNew" class = "button"> Create New Story </a></center>

<div class="footer verticalcenter fullwidth">
        <p class="rightmargin">Copyright © 2022 Whatever: Elizabeth, Maya, Anthony</p>
</div>
</html>