<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<div class="fullwidth"><h1 class="header">Whatpad -- Our Stories will Make you Say "What?"</h1></div> <br/>


<center><a href="/" class="button">Return home</a></center><br/><br/>
<body class = "body">
<h1>{{ title | replace ("%20", " ") }}</h1>
By: {{contusers}} <br/><br>

<div style="padding: 0 20% 0 20%">
{% for para in content %}
<p>{{para}}</p>
{% endfor %}
</div>

</body>
    <div class="footer verticalcenter fullwidth">
        <p class="rightmargin">Copyright © 2022 Whatever: Elizabeth, Maya, Anthony</p>
    </div>
</html>